# WorkOS
WORKOS_CLIENT_ID=""
WORKOS_API_KEY=""

WORKOS_TOKEN_AUDIENCE="<next_public_api_url>"
WORKOS_TOKEN_ISSUER="https://api.workos.com/user_management/<workos_client_id>"

# Postgres
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>"

# Internal
NEXT_PUBLIC_APP_URL=""
