# WorkOS
WORKOS_CLIENT_ID=""
WORKOS_API_KEY=""

WORKOS_TOKEN_AUDIENCE="${NEXT_PUBLIC_API_URL}"
WORKOS_TOKEN_ISSUER="https://api.workos.com/user_management/${WORKOS_CLIENT_ID}"

# Internal
NEXT_PUBLIC_APP_URL=""
