# WorkOS
WORKOS_CLIENT_ID=""
WORKOS_API_KEY=""

WORKOS_TOKEN_AUDIENCE="${NEXT_PUBLIC_API_URL}"
WORKOS_TOKEN_ISSUER="https://api.workos.com/user_management/${WORKOS_CLIENT_ID}"

# Supabase
DATABASE_URL="postgresql://postgres.${SUPABASE_PROJECT_ID}:${SUPABASE_PASSWORD}@aws-0-${SUPABASE_REGION}.pooler.supabase.com:6543/postgres"

# Internal
NEXT_PUBLIC_APP_URL=""
